gl-interface/src/main/resources/META-INF/glcore.xsd

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
           targetNamespace="http://www.hualala.com/schema/glcore"
           xmlns:beans="http://www.springframework.org/schema/beans"
           elementFormDefault="qualified" attributeFormDefault="unqualified">

    <xs:import namespace="http://www.springframework.org/schema/beans"/>

    <xs:element name="filter">
        <xs:complexType>
            <xs:complexContent>
                <xs:extension base="beans:identifiedType">
                    <xs:attribute name="uri" type="xs:string" use="required"/>
                    <xs:attribute name="service" type="xs:string" use="required"/>
                    <xs:attribute name="method" type="xs:string" use="required"/>
                    <xs:attribute name="implName" type="xs:string" use="required"/>
                </xs:extension>
            </xs:complexContent>
        </xs:complexType>


    </xs:element>

</xs:schema>